/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background: url('profil-dan-background/pexels-marta-dzedyshko-1042863-2067569.jpg');
    background-size:cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1, h2 {
    margin: 0;
}
h1 {
    font-size: 70px;
    margin-bottom: 10px;
}
h2 {
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
/* Form container */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

/* Form title */
form h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

/* Form labels */
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

/* Form inputs */
form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

/* Form submit button */
form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

/* Form links */
form a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #4CAF50;
    text-decoration: none;
}

form a:hover {
    text-decoration: underline;
}